body {
  font-size: 18px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #213599 0%, #C850C0 46%, #FFCC70 100%);

}

/* navigation */
.nav {
  list-style-type: none;
  display: flex;
  justify-content:flex-end;
}

ul li {
  margin: 4px;

}

ul li a {
  font-size: 2em;
}

nav {

  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: rgb(18, 17, 17);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

nav a:hover {
  background-color: #d80fee;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

/* home-section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#home h1 {
  margin-bottom: 0.5rem;
  font-size: 36px;
  /* add some spacing between elements */
}

#home p {
  margin-bottom: 1rem;
}

/* about-section */
#about {
  width: 90%;
  margin: 5em;
  height: 50%;
  display: flex;
}

.about-description {
  padding: 1em;
  font-size: 1.5em;
  text-align: end;
}

.jumbo-image {
  border-radius: 60%;
}

/* project section */
h3 {
  font-size: 2em;
}

.project-description {
  font-size: 1.5em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

#projects {
  margin: 5em 3em;
}

.project {
  flex: 1 1 600px;
  margin: 10px;
  border: 3px solid #213599;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 20px;
}
.project h3{
  text-align: center;
}
.tech-stack p {
  display: flex;
  justify-content: center;
  align-items: center;

}
.tech-stack {
  font-size: 1.5em;
}
.tech-stack svg {
  width: 50px;
  height: 50px;
  margin: 4px 4px 4px 4px;
  color: rgb(255, 255, 153);
}

.project-button {
  margin: 0 auto;
  background-color: white;
  width: 15em;
  height: 4em;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3em;
}

button a {
  color: rgb(16, 17, 16);
  font-size: 1.5em;
  font-weight: bold;
}

/* contact-section */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

label {
  margin-top: 16px;
  font-size: 1.5em;
  font-weight: bold;
}

input,
textarea {
  margin-top: 8px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

button[type="submit"] {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #ad2ddb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 10em;
  height: 3em;
}

button[type="submit"]:hover {
  background-color: rgb(239, 181, 177);

}

hr {
  height: 6px;
  background-color: rgb(255, 255, 153);
  border: none;
  margin: 2em 0;
  width: 30em;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}